# Dependências
node_modules/

# Arquivos do jogo (já empacotados em doom.jsdos)
HERETIC/*.EXE
HERETIC/*.WAD
HERETIC/*.DOC
HERETIC/*.TXT
HERETIC/*.CFG
HERETIC/*.STR
HERETIC/*.FRM
HERETIC/*.NUM
HERETIC/*.DSG
HERETIC/*.TMP
HERETIC/*.RSP
HERETIC/*.diz

DOOM/*.EXE
DOOM/*.WAD
DOOM/*.DOC
DOOM/*.TXT
DOOM/*.CFG
DOOM/*.STR
DOOM/*.FRM
DOOM/*.NUM

DOOM2/*.EXE
DOOM2/*.WAD
DOOM2/*.DOC
DOOM2/*.TXT
DOOM2/*.CFG
DOOM2/*.STR
DOOM2/*.FRM
DOOM2/*.NUM
DOOM2/*.DSG
DOOM2/*.TMP
DOOM2/*.RSP

